@media (max-width: 767px) {

.main-top-row {

      flex-wrap: wrap;
      flex-direction: column-reverse;
}  

.flower-art {
 margin-top: 0px;
     display: block;
     width: 350px;
     margin-left: 0;
     margin-right: 0;
}


.bee {
   top: 170px !important;
    width: 33px !important;
    left: 127px !important;
}

.navbar-brand.por{
	display: block;
}



.logo-bee {
   position: absolute;
       left: -4px;
       top: -8px;
       width: 35px;
}


.navbar-brand img {
	margin-top: 8px !important;
	margin-left: 8px !important;

}
.top-heading {
	font-size: 40px;
}

#textHolder{
  color: #fff;
      left: 0;
      right: -145px;
      margin: auto;
      top: 15px;
      width: 160px;
      height: 89px;
      font-size: 10px;
}
.typed-cursor img {
  width: 25px;
}
.main-h-box .top-heading {
  font-size: 20px;
}
}/*media*/


@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ 

.flower-art {
  width: 75%;
  margin-left: 0;
      margin-right: 0;
}


}  
