@font-face {
  font-family: 'bee-icon';
  src:  url('fonts/bee-icon.eot?kw3lwf');
  src:  url('fonts/bee-icon.eot?kw3lwf#iefix') format('embedded-opentype'),
    url('fonts/bee-icon.ttf?kw3lwf') format('truetype'),
    url('fonts/bee-icon.woff?kw3lwf') format('woff'),
    url('fonts/bee-icon.svg?kw3lwf#bee-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bee-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Asset-94mdpi:before {
  content: "\e900";
}
.icon-Asset-95mdpi:before {
  content: "\e901";
}
.icon-Asset-139mdpi:before {
  content: "\e902";
}
.icon-Asset-135mdpi:before {
  content: "\e903";
}
.icon-arrow-upmdpi:before {
  content: "\e905";
}
.icon-arrow-leftmdpi:before {
  content: "\e906";
}
.icon-arrow-rightmdpi:before {
  content: "\e907";
}
.icon-arrow-square-down-omdpi:before {
  content: "\e908";
}
.icon-arrow-square-down_1mdpi:before {
  content: "\e909";
}
.icon-Asset-120mdpi:before {
  content: "\e90a";
}
.icon-Asset-119mdpi:before {
  content: "\e90b";
}
.icon-Asset-121mdpi:before {
  content: "\e90c";
}
.icon-Asset-122mdpi:before {
  content: "\e90d";
}
.icon-plus-sign-circlemdpi:before {
  content: "\e90e";
}
.icon-plus-sign-curcle-omdpi:before {
  content: "\e90f";
}
.icon-Asset-1mdpi:before {
  content: "\e910";
  color: #686872;
}
.icon-Asset-2mdpi:before {
  content: "\e911";
  color: #686872;
}
.icon-Asset-3mdpi:before {
  content: "\e912";
}
.icon-Asset-4mdpi:before {
  content: "\e913";
}
.icon-Asset-73mdpi:before {
  content: "\e914";
}
.icon-Asset-96mdpi:before {
  content: "\e915";
}
.icon-alarmmdpi:before {
  content: "\e916";
}
.icon-Asset-125mdpi:before {
  content: "\e917";
}
.icon-add-newmdpi:before {
  content: "\e918";
}
.icon-albummdpi:before {
  content: "\e919";
}
.icon-album-omdpi:before {
  content: "\e91a";
}
.icon-apple-musicmdpi .path1:before {
  content: "\e91b";
  color: rgb(0, 0, 0);
}
.icon-apple-musicmdpi .path2:before {
  content: "\e91c";
  margin-left: -0.8125em;
  color: rgb(255, 255, 255);
}
.icon-apple-musicmdpi .path3:before {
  content: "\e91d";
  margin-left: -0.8125em;
  color: rgb(0, 0, 0);
}
.icon-apple-musicmdpi .path4:before {
  content: "\e91e";
  margin-left: -0.8125em;
  color: rgb(0, 0, 0);
}
.icon-Asset-103mdpi:before {
  content: "\e91f";
}
.icon-Asset-110mdpi:before {
  content: "\e920";
}
.icon-Asset-111mdpi:before {
  content: "\e921";
}
.icon-Asset-112mdpi:before {
  content: "\e922";
}
.icon-Asset-113mdpi:before {
  content: "\e923";
}
.icon-Asset-114mdpi .path1:before {
  content: "\e924";
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
.icon-Asset-114mdpi .path2:before {
  content: "\e925";
  margin-left: -1.0478515625em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-Asset-114mdpi .path3:before {
  content: "\e926";
  margin-left: -1.0478515625em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-Asset-115mdpi:before {
  content: "\e927";
}
.icon-Asset-116mdpi:before {
  content: "\e928";
}
.icon-Asset-117mdpi:before {
  content: "\e929";
}
.icon-Asset-118mdpi:before {
  content: "\e92a";
}
.icon-apple-watchmdpi:before {
  content: "\e92b";
}
.icon-apple-storemdpi:before {
  content: "\e92c";
}
.icon-Asset-123mdpi:before {
  content: "\e92d";
}
.icon-Asset-124mdpi:before {
  content: "\e92e";
}
.icon-Asset-126mdpi:before {
  content: "\e92f";
}
.icon-Asset-127mdpi:before {
  content: "\e930";
}
.icon-Asset-128mdpi:before {
  content: "\e931";
}
.icon-Asset-130mdpi:before {
  content: "\e932";
}
.icon-Asset-131mdpi:before {
  content: "\e933";
}
.icon-Asset-132mdpi:before {
  content: "\e934";
}
.icon-Asset-133mdpi:before {
  content: "\e935";
}
.icon-Asset-134mdpi:before {
  content: "\e936";
}
.icon-Asset-136mdpi:before {
  content: "\e937";
}
.icon-Asset-137mdpi:before {
  content: "\e938";
}
.icon-Asset-138mdpi:before {
  content: "\e939";
}
.icon-attechmdpi:before {
  content: "\e93a";
}
.icon-bedmdpi:before {
  content: "\e93b";
}
.icon-bed-omdpi:before {
  content: "\e93c";
}
.icon-bellmdpi:before {
  content: "\e93d";
}
.icon-bell-omdpi:before {
  content: "\e93e";
}
.icon-bookmdpi:before {
  content: "\e93f";
}
.icon-calendarmdpi:before {
  content: "\e940";
}
.icon-calendar-o_1mdpi:before {
  content: "\e941";
}
.icon-calendar-omdpi:before {
  content: "\e942";
}
.icon-cameramdpi:before {
  content: "\e943";
}
.icon-camera-omdpi:before {
  content: "\e944";
  color: #858d97;
}
.icon-cart-omdpi:before {
  content: "\e945";
}
.icon-categoriesmdpi:before {
  content: "\e946";
}
.icon-categories-omdpi:before {
  content: "\e947";
}
.icon-delivery-truck-omdpi:before {
  content: "\e948";
}
.icon-dial-pad-0mdpi:before {
  content: "\e949";
}
.icon-dial-padmdpi:before {
  content: "\e94a";
}
.icon-dotsmdpi:before {
  content: "\e94b";
}
.icon-edit-squaremdpi:before {
  content: "\e94c";
}
.icon-file-omdpi:before {
  content: "\e94d";
}
.icon-geniusmdpi:before {
  content: "\e94e";
}
.icon-genius-omdpi:before {
  content: "\e94f";
}
.icon-gift-box-omdpi:before {
  content: "\e950";
}
.icon-git-boxmdpi:before {
  content: "\e951";
}
.icon-heart-arrow-downmdpi:before {
  content: "\e952";
}
.icon-heartmdpi:before {
  content: "\e953";
}
.icon-historymdpi:before {
  content: "\e954";
}
.icon-home_1mdpi:before {
  content: "\e955";
}
.icon-homemdpi:before {
  content: "\e956";
  color: #858d97;
}
.icon-home-o_1mdpi:before {
  content: "\e957";
}
.icon-inboxmdpi:before {
  content: "\e958";
}
.icon-junkmdpi:before {
  content: "\e959";
}
.icon-listmdpi:before {
  content: "\e95a";
}
.icon-magic-wandmdpi .path1:before {
  content: "\e95b";
  color: rgb(104, 104, 114);
}
.icon-magic-wandmdpi .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-magic-wandmdpi .path3:before {
  content: "\e95d";
  margin-left: -1em;
  color: none;
}
.icon-magic-wandmdpi .path4:before {
  content: "\e95e";
  margin-left: -1em;
  color: none;
}
.icon-magic-wandmdpi .path5:before {
  content: "\e95f";
  margin-left: -1em;
  color: none;
}
.icon-magic-wandmdpi .path6:before {
  content: "\e960";
  margin-left: -1em;
  color: none;
}
.icon-magic-wandmdpi .path7:before {
  content: "\e961";
  margin-left: -1em;
  color: none;
}
.icon-magic-wandmdpi .path8:before {
  content: "\e962";
  margin-left: -1em;
  color: none;
}
.icon-magic-wandmdpi .path9:before {
  content: "\e963";
  margin-left: -1em;
  color: none;
}
.icon-medicalmdpi:before {
  content: "\e964";
}
.icon-medical-omdpi:before {
  content: "\e965";
}
.icon-menumdpi:before {
  content: "\e966";
}
.icon-menu-omdpi:before {
  content: "\e967";
}
.icon-micmdpi:before {
  content: "\e968";
}
.icon-minus-sign-circlemdpi:before {
  content: "\e969";
}
.icon-most-viewedmdpi:before {
  content: "\e96a";
}
.icon-musicmdpi:before {
  content: "\e96b";
}
.icon-paper-plane-omdpi:before {
  content: "\e96c";
}
.icon-phonemdpi:before {
  content: "\e96d";
}
.icon-photosmdpi:before {
  content: "\e96e";
}
.icon-photos-omdpi:before {
  content: "\e96f";
}
.icon-play-circlemdpi:before {
  content: "\e970";
}
.icon-podcastsmdpi:before {
  content: "\e971";
}
.icon-preloadermdpi .path1:before {
  content: "\e972";
  color: rgb(142, 142, 142);
}
.icon-preloadermdpi .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(212, 212, 212);
}
.icon-preloadermdpi .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(211, 211, 211);
}
.icon-preloadermdpi .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(183, 183, 183);
}
.icon-preloadermdpi .path5:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(154, 154, 154);
}
.icon-preloadermdpi .path6:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(208, 208, 208);
}
.icon-preloadermdpi .path7:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(213, 213, 213);
}
.icon-preloadermdpi .path8:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(202, 202, 202);
}
.icon-preloadermdpi .path9:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(173, 173, 173);
}
.icon-preloadermdpi .path10:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(215, 215, 215);
}
.icon-preloadermdpi .path11:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-preloadermdpi .path12:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(213, 213, 213);
}
.icon-purchasedmdpi .path1:before {
  content: "\e97e";
  color: rgb(0, 0, 0);
}
.icon-purchasedmdpi .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(247, 247, 247);
}
.icon-purchasedmdpi .path3:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(247, 247, 247);
}
.icon-purchased-omdpi:before {
  content: "\e981";
}
.icon-apple-watch-sidemdpi:before {
  content: "\e982";
}
.icon-radiomdpi:before {
  content: "\e983";
}
.icon-rotatemdpi:before {
  content: "\e984";
}
.icon-search_1mdpi:before {
  content: "\e985";
}
.icon-settingmdpi:before {
  content: "\e986";
}
.icon-smile_1mdpi:before {
  content: "\e987";
}
.icon-starmdpi:before {
  content: "\e98c";
}
.icon-star-omdpi:before {
  content: "\e98d";
}
.icon-stop-watch_1mdpi:before {
  content: "\e98e";
}
.icon-stop-watchmdpi:before {
  content: "\e98f";
}
.icon-timermdpi:before {
  content: "\e990";
}
.icon-timer-omdpi:before {
  content: "\e991";
}
.icon-trashmdpi:before {
  content: "\e992";
}
.icon-usermdpi:before {
  content: "\e993";
}
.icon-user-omdpi:before {
  content: "\e994";
}
.icon-videomdpi:before {
  content: "\e995";
}
.icon-volumemdpi:before {
  content: "\e996";
}
.icon-warningmdpi:before {
  content: "\e997";
}
.icon-world-clockmdpi:before {
  content: "\e998";
}
.icon-world-clock-omdpi:before {
  content: "\e999";
}
.icon-arrow-downmdpi:before {
  content: "\e904";
}
